# NutriRAG Environment Configuration
# !!! IMPORTANT: Remplir avec vos vraies credentials Snowflake

# ==========================================
# SNOWFLAKE CONFIGURATION
# ==========================================
# Format: <account_locator>
# Exemple: xy12345
SNOWFLAKE_ACCOUNT=

# Votre username Snowflake
SNOWFLAKE_USER=

# Authentification par clé RSA
SNOWFLAKE_PRIVATE_KEY_PATH=
# Role
SNOWFLAKE_ROLE=TRAINING_ROLE

# Nom du warehouse
SNOWFLAKE_WAREHOUSE=NUTRIRAG_PROJECT

# Database (projet commun aux 5 équipes)
SNOWFLAKE_DATABASE=NUTRIRAG_PROJECT

# Schema par défaut (ENRICHED pour données enrichies)
SNOWFLAKE_SCHEMA=DEV_SAMPLE


# Schema des services (API Agents)
SNOWFLAKE_SERVICES_SCHEMA=SERVICES

# agent name
AGENT_NAME=Agent_test

# PUBLIC_KEY_FP 
# 1- Run the command DESC USER {YOUR_SNOWFLAKE_USER (exemple :  DESC USER COBRA; on your Snowflake account)
# 2- then look for RSA_PUBLIC_KEY_FP in property
PUBLIC_KEY_FP=

# Path to JWT file ( please provide absolute path)
PRIVATE_KEY_PATH=C:\Users\celin\OneDrive\Bureau\projet_m2\git_v2\NutriRAG\backend\.ssh\token_cache.jwt

# ==========================================
# API CONFIGURATION
# ==========================================
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=true

# ==========================================
# FRONTEND CONFIGURATION
# ==========================================
VITE_API_URL=http://localhost:8000

# ==========================================
# CORS (Origins autorisés)
# ==========================================
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:80

# ==========================================
# OAUTH CONFIGURATION
# ==========================================
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=http://localhost:3000
